@media screen and (max-width: 1760px) {

    #contact-info {
        flex-direction: column;
        position: relative;
        right: 45px;
    }

    #contact-info::before {
        left: 45px;
    }
}

@media screen and (max-width: 1200px) {
    #goal {
        opacity: 0;
    }

}

@media screen and (max-width: 1199px) {
    #goal2 {
        display: flex;
        position: absolute;
        z-index: 1;
    }

    #subtitle img {
        z-index: 2;
    }
}

@media screen and (max-width: 855px) {
    #goal3 {
        display: flex;
        position: absolute;
        z-index: 1;
    }

    #subtitle img {
        z-index: 2;
    }

    #goal2 {
        display: none;
    }

}

@media screen and (max-width: 767px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        margin-top: 20px;
    }


    nav li {
        margin: 10px 0;
    }

    #subtitle div {
        display: flex;
        align-items: center;
    }

    #subtitle div img {
        position: absolute;
    }

    #goal2 {
        display: none;
    }

    #goal3 {
        display: none;
    }

    main {
        display: flex;
        max-width: 96%;
    }

    .content-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }


    #about-info,
    #work-info,
    #contact-info,
    #resume-info {
        width: 100%;
        margin: 10px;
        position: relative;
        right: 11px;
        padding-left: 20px;
    }

    .card2,
    .card3,
    .card4,
    .card5 {
        flex-basis: 100%;
    }

    #about-title,
    #work-title,
    #contact-title,
    #resume-title {
        width: 100%;
        text-align: center;
        align-self: center;
        margin: 10px;
        position: relative;
        left: 8px;
        font-size: 250%;
        color: #fff;
        border: 2px solid grey;
        background-color: var(--portfolioblue);
        border-radius: 10px;
        z-index: 1;
    }


    #about-info::before,
    #work-info::before,
    #contact-info::before,
    #resume-info::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        border: 2px solid black;
        z-index: -1;
        display: none;
    }

    #contact-info {
        right: 60px;
    }

}

@media screen and (max-height: 555px) {
    #subtitle div img {
        display: none;
    }
}

@media screen and (max-height: 320px) {

    #subtitle div #goal,
    #subtitle div #goal2,
    #subtitle div #goal3 {
        display: none;
    }
}