body {
    display: flex;
    flex-direction: column;
    margin: 1px;
    background-color: rgb(176, 185, 196);
}

:root {
    --portfolioblue: rgb(64, 129, 151)
}

header {
    background-color: rgb(107, 107, 107);
    border-bottom: 2px black solid;
    border-radius: 10px;
}



nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

#nav-logo img {
    display: inline-flex;
    height: 100px;
    width: 200px;
    border-radius: 50%;
    outline: 2px black solid;
    box-shadow: 5px 5px 50px rgb(255, 255, 255);
    transition: box-shadow 0.3s ease;
}


#nav-logo img:hover {
    box-shadow: none;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li {
    margin: 0 20px;
    list-style: none;
}



nav a {
    color: #fff;
    text-decoration: none;
    display: grid;
    font-size: larger;
    height: 40px;
    width: 100px;
    background: linear-gradient(var(--portfolioblue),
            #3b4fff);
    border-radius: 5px;
    border: 1px solid rgb(75, 75, 75);
    align-items: center;
    justify-items: center;
    box-shadow: none;
    transition: box-shadow 0.3s ease;
}

nav a:hover {
    box-shadow: 0 0 10px #ffffff;
}




#subtitle {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    height: 25vh;
    background-image: url(../Images/SubtitleBackground.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: 2px black solid;
    border-radius: 10px;
}

#subtitle div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#subtitle div span {
    color: #fff;
    background-image: linear-gradient(to bottom, var(--portfolioblue) 10%, #3b4fff 50%);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    box-shadow: 100px 2px 5px grey;
    margin-right: 50px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 300%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}

#subtitle img {
    display: inline-flex;
    height: 140px;
    box-shadow: 2px 2px 25px orange;
    border: 1px black solid;
    border-radius: 50%;
    margin-right: 20px;
}


main {
    display: flex;
    max-width: 96%;
}

.content-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
}

#about-title,
#work-title,
#contact-title,
#resume-title {
    width: 25%;
    text-align: center;
    align-self: center;
    margin: 10px;
    position: relative;
    font-size: 250%;
    color: #fff;
    font-weight: 550;
    background-color: var(--portfolioblue);
    border-radius: 10px;
    z-index: 1;
    box-shadow: 0px 0px 10px black;
}

#about-info,
#work-info,
#contact-info,
#resume-info {
    width: 75%;
    margin: 10px;
    position: relative;
    padding-left: 5%;
}

#about-info p {
    background-color: rgb(247, 247, 247);
    border: 2px solid black;
    border-radius: 10%;
    padding: 5px;
    font-size: larger;
    box-shadow: 0px 0px 20px black
}

#about-info::before,
#work-info::before,
#contact-info::before,
#resume-info::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border: 2px solid black;
    border-radius: 10px;
    z-index: 1;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.main:hover,
.card2:hover,
.card3:hover,
.card4:hover,
.card5:hover {
    box-shadow: 0px 0px 50px var(--portfolioblue);
    z-index: 1;
}

.main {
    flex-basis: 100%;
    height: 200px;
    width: 100%;
    background-image: url(../Images/mainContent.webp);
    border-radius: 20px;
    border: 1px solid black;
    padding: 1.5%;
    text-decoration: none;
    color: white;
}

.card2,
.card3,
.card4,
.card5 {
    flex-basis: 50%;
    height: 200px;
    width: 100%;
    border: 1px solid black;
    border-radius: 20px;
    padding: 1.5%;
    text-decoration: none;
    color: black;
}

.card2 {
    background: linear-gradient(rgba(206, 196, 196, 0.5), rgba(255, 255, 255, 0)), url(../Images/card2Image.png);
}

.card3 {
    background: linear-gradient(rgb(214, 214, 214), rgba(165, 80, 80, 0.466)), url(../Images/card3image.jpg);
}

.card4 {
    background: linear-gradient(rgba(235, 223, 223, 0.5), rgba(255, 255, 255, 0.5)), url(../Images/card4Image.jpg);
}

.card5 {
    background: linear-gradient(rgba(223, 222, 222, 0.5), rgba(255, 255, 255, 0.5)), url(../Images/card5Image.jpg);
}

#contact-info,
#resume-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.resumeButton {
    background-image: url(../Images/resumeLogo.png);
}

.githubButton {
    background-image: url(../Images/githubLogo.png);
}

.twitterButton {
    background-image: url(../Images/twitterLogo.jpg);
}

.facebookButton {
    background-image: url(../Images/facebookLogo.png);
}

#resume-info {
    flex-direction: column;
}

.resumeButton,
.githubButton,
.twitterButton,
.facebookButton {
    text-indent: -9999px;
    height: 100px;
    border-radius: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px 30px;
}

#contact-info p #resume-info {
    flex: 1;
    margin: 10px;
}



#phone,
#address,
#email {
    background-color: rgb(176, 185, 196);
    padding: 20px;
    border: 5px var(--portfolioblue);
    border-radius: 10%;
    border-style: groove;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    left: 50px;
    font-weight: 700;
}


#email a {
    color: var(--portfolioblue);
    text-decoration: none;
    text-shadow: 0px 1px 5px rgb(255, 255, 255);
}

#email a:hover {
    border-radius: 20%;
    box-shadow: 0 0 10px var(--portfolioblue);
}


#goal2,
#goal3 {
    display: none;
}